<h2>Details about: {{author.lastName}}</h2>

  
        <h3>
            One of my favorite authors is {{author.firstName}} {{author.lastName}}. My top two favorite books of {{author.lastName}}'s
             are 
            <i>{{author.favOne}}</i> and <i>{{author.favTwo}}</i>.
        </h3>    
  
<h3><a href="/">Home</a></h3>
